/* applies to anything of class "example-class-selector" */
.example-class-selector {
	margin-top: 2em;
}

/* applies to any <p> descendants of an element of class "example-class-selector" */
.example-class-selector p {
	/* Colors are in hexadecimal: http://www.colorpicker.com/ */	
	color: #CC00AA;
}

/* this style exists to make it obvious that you've successfully linked
   the CSS to the page. feel free to remove it once the link is working. */
body {
     border: 1px dotted gray;
     padding: 20px;
     font-family: Raleway, Arial, sans-serif;
     background: #fbf9d0;
}

.jumbotron {
	position: relative;
	background: none;
     border: 3px dotted #000;
}

.jumbotron:after {
     content:"";
     background: url("http://lorempixel.com/1140/283");
     opacity: 0.2;
     top: 0;
     left: 0;
     bottom: 0;
     right: 0;
     position: absolute;
     z-index: -1;	
}
p{
     text-align: center;
}
p a{
     padding: 5px;
     color: #468a9f;
     text-decoration: none;
}
a:hover{
     text-decoration: overline underline;
}

h1{
     font-family: Raleway, Arial, sans-serif;
}
.jumbotron p{
     font-variant: small-caps;
}
h4{
     text-align: center;
     background: #d3d3d3;
     width: 550px;
     height: auto;
     padding: 5px 0;
     border-radius: 10px;
     margin-right: auto;
     margin-left: auto;
}